hr {width:90%;}
h1, h2 {text-align:center; color: darkblue; }
table {width:90%; color:darkblue;}
#end {text-align:right; font-size:15px;  margin-right:5%;}
#user {margin-left:5%;}
th {color:darkblue;}